{:radio
 {:slots [:label]
  :props [:name :checked :value :required :disabled :on-change]
  :a11y {:role "radio"}
  :default-props {:checked false :required false :disabled false}
  :schema-hints {}}}

